@font-face {
    font-family: 'Bernard MT Condensed';
    src: url('../fonts/BernardMT-Condensed.woff') format('woff2'),
        url('../fonts/BernardMT-Condensed.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

